NODE_ENV=development
PORT=3004
DB_HOST=localhost
DB_PORT=5432
DB_NAME=shopcloud_dev
DB_USER=shopcloud
DB_PASS=shopcloud_secret
JWT_SECRET=change_me_in_production
CATALOG_SERVICE_URL=http://localhost:3002
CART_SERVICE_URL=http://localhost:3003
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
SQS_ENDPOINT=http://localhost:9324
SQS_INVOICE_QUEUE_URL=http://localhost:9324/000000000000/invoice-queue
